/*
===============Fonts===============
*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Crete+Round&display=swap');

/*
===============Variables===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(186, 150, 105);
  --clr-primary-2: rgb(186, 150, 100);
  --clr-primary-3: rgb(186, 150, 120);
  --clr-primary-4: rgb(186, 150, 110);
  /* primary/main color */
  --clr-primary-5:rgb(163, 108, 40);
  /* shadows of primary color */
  --clr-primary-6: rgb(240, 133, 0);
  --clr-primary-7: rgb(240, 133, 120);
  --clr-primary-8: rgb(240, 133, 100);
  --clr-primary-9: rgb(240, 133, 40);
  --clr-primary-10: rgb(240, 133, 20);
  /* darkest color options */
  --clr-sec-1: rgb(77, 78, 67);
  --clr-sec-2: rgb(82, 85, 64);
  --clr-sec-3: rgb(56, 58, 45);
  --clr-sec-4: rgb(43, 44, 34);
  /* other color */
  --clr-white: #fff;
  --clr-gold: #c59d5f;
  --clr-black: #222;
  /* custom */
  --ff-primary: 'Arvo', serif;
  --ff-secondary: 'Crete Round', serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgb(82, 85, 64);
  --dark-shadow: 0 5px 15px rgb(43, 44, 34);
  --max-width: 1170px;
  --fixed-width: 620px;
  --border-color:  rgb(240, 133, 100);
}
/*
===============Global Styles===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-primary-2);
  color: var(--clr-sec-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
  text-transform: capitalize;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  /* color: var(--clr-primary); */
}

input ,
textarea{
  padding: 0.5rem;
  width: 70vmin;
  border-radius: var(--radius);
  margin: 0.2rem 0;
  background-color: transparent;
  color: var(--clr-black);
  font-size: 17px;
  border: 2px solid var(--clr-gold);
  text-transform: capitalize;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
main {
  height: 100vh;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-sec-2);
  background: var(--clr-black);
}
.btn-sec {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  width: 20%
}
.btn-sec:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

@media screen and (max-width: 950px) {
  .btn-sec {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    width: 50%
  }
}
/* section */
.section {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.photograph {
  width: 10%;
  height: 20%;
}
/*
===============nav===============
*/
nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.show-nav {
  background: var(--clr-primary-1);
  box-shadow: var(--light-shadow);
  width: 100vw;
}
.nav-center {
  margin: 0 4rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.links-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 20%;
  margin-right: 1rem;
}

.nav-link:hover {
  padding-left: 1rem;
  color: var(--clr-black);
  font-weight: bold;
}

@media screen and (max-width: 950px) {
  .links-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    margin-right: 1rem;
  }
}

/*
===============conatiner===============
*/
.container {
  max-width: 100vw;
  height: 100vh;
  background: url(./img/p6.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.content {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  color: var(--clr-primary-1);
  width: 70%;
}
/*
===============blog one===============
*/
.photo-holder {
  flex: 0.4;
  place-items: center;
  padding: 2rem;
  min-height: 60vh;
}

.text-one {
  flex: 0.4;
  max-height: 60vh;
  padding: 1rem;
}
/*
===============blog two===============
*/
.blog-two {
  flex-direction: column;
  background-color: var(--clr-primary-4);
}

.gridy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.box {
  padding: 4rem;
  font-size: 18px;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  text-transform: uppercase;
}

.number {
  font-size: 30px;
  color: var(--clr-white);
}

@media screen and (max-width: 950px) {
  .gridy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  
  .box {
    padding: 1rem;
    float: left;
  }
}
/*
===============blog three===============
*/
.blog-three {
  background-color: var(--clr-primary-4);
}

.text-two {
  flex: 0.3;
}

.photo-holder-two {
  flex: 0.4;
}
/*
===============contact===============
*/
.contact{
  flex-direction: column;
  background: url(./img/p6.jpg);
  background-position: start;
  background-size: cover;
  background-clip: padding-box;
  color: var(--clr-primary-5);
  text-shadow: var(--dark-shadow);
  opacity: 0.8;
}
.form {
  width: 50%;
  padding: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
===============footer===============
*/
.footer {
  text-align: center;
  padding: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}